.Home {
  .addContact {
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #999592;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
  table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead {
      font-weight: bold;
      font-size: 20px;
      tr {
        background-color: #009879;
        color: #fff;
        text-align: left;
        th {
          padding: 10px;
        }
      }
    }
    tbody {
      border-bottom: 1px solid #ddd;
      tr {
        th,
        td {
          padding: 25px;
        }
        button {
          border: none;
          padding: 15px;
          margin: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }
        .btn-edit {
          background: #008cba;
        }
        .btn-delete {
          background: #f44336;
        }
        .btn-view {
          background: #a9a9a9;
        }
        &:nth-of-type(even) {
          background-color: #f3f3f3;
        }
      }
    }
  }
}
